.navbar{
    text-align: right;
}

.tag{
    border: 1px solid;
    border-radius: 3px;
    padding: 2px 4px;
}

footer{
    text-align: center;
    margin-top: 20px;
    border-top: solid 1px;
}

header{
    border-bottom: solid 1px;
    margin-bottom: 10px;
}

td:first-child {
    font-weight: bold;
}